{% extends 'base.html' %}
{% load static %}
{% block title %}Question{% endblock title %}

{% block content %}


<link rel="stylesheet" href="{% static 'styles/question.css' %}" />

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">Asked By {{question.user.username}}</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">{{question.title}}</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
       <code>
        
        
        <html>
            {{question.content|safe}}
        </html>
       
      
      </code> 

      </p>
    </div>

    <button onclick="location.href='{% url 'devbase:question_comment' question.id%}'"
      class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Give
      Answer</button>



    <form action="{% url 'devbase:like_post' object.pk %}" method="post">
      {% csrf_token %}
      {% if user.is_authenticated %}
      {% if liked %}
      <button
      type="submit" name="question_id" value="{{ question.id }}"
        class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Liked
        | {{ total_likes }} Likes</button>
      {% else %}
      <button

      type="submit" name="question_id" value="{{ question.id }}"


        class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Like
        | {{ total_likes }} Likes</button>
      {% endif %}
      {% else %}
      <a href="{% url 'login' %}">
        <button
          class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
          Login to Like | {{ total_likes }} Likes</button>
      </a>
      {% endif %}
    </form>









    {% if question.user == request.user %}
    <button
      class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
      type="button" onclick="location.href='{% url 'devbase:question_update' question.id%}'">Update</button>
    <button
      class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
      type="button" onclick="location.href='{% url 'devbase:question_delete' question.id%}'">Delete Question</button>
    {% endif %}
  </div>
</section>





{% comment %} answer {% endcomment %}


{% if not question.comment.all %}
<h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">No Answers Yet!...</h1>
{% else %} 
<h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 text-center">Answers</h1>
{% for comment in question.comment.all %}




<div class="grid place-items-center " >

  <div class="p-4 lg:w-1/2 md:w-full">
    <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
      <div
        class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
        <img src="{{question.user.profile.image.url}}" alt="">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          class="w-10 h-10" viewBox="0 0 24 24">
          <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
      </div>
      <div class="flex-grow">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">{{question.user.username}}</h2>
        <p class="leading-relaxed text-base">"{{comment.content}}"</p>
      </div>
    </div>
  </div>


</div>
{% endfor %}



{% endif %}


{% endblock content %}